<!DOCTYPE html>

<head>
    <h1>Checkout Page</h1>
    <h2>Please select your item from the dropdown menu:</h2>
</head>
<body>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="flannerywilson.contact@gmail.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="North Face Jacket">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="tax_rate" value="10.000">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <table>
        <tr><td><input type="hidden" name="on0" value="Items">Items</td></tr><tr><td><select name="os0">
            <option value="North Face Jacket">North Face Jacket $25.00 USD</option>
            <option value="Marc Jacobs Handbag">Marc Jacobs Handbag $89.00 USD</option>
            <option value="Balmain Sandals">Balmain Sandals $55.00 USD</option>
            <option value="Jimmy Choo Flats">Jimmy Choo Flats $65.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="option_select0" value="North Face Jacket">
        <input type="hidden" name="option_amount0" value="25.00">
        <input type="hidden" name="option_select1" value="Marc Jacobs Handbag">
        <input type="hidden" name="option_amount1" value="89.00">
        <input type="hidden" name="option_select2" value="Balmain Sandals">
        <input type="hidden" name="option_amount2" value="55.00">
        <input type="hidden" name="option_select3" value="Jimmy Choo Flats">
        <input type="hidden" name="option_amount3" value="65.00">
        <input type="hidden" name="option_index" value="0">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
</body>
</html>